<form class="c-form" action="{{url_for('notas.inserir_notas')}}" method="POST">
   <div class="mb-3">
        <label class="text-black form-label fs-3">Título:</label>
        <input type="text" class="form-control" name="title">
   </div>
   <div>
    <textarea name="text" class="form-control" placeholder="comece a escrever...."></textarea>
   </div>
   <div class="pt-3 aling-items-center justify-content-center d-flex">
        <button class="btn btn-primary fs-5">salvar</button>
   </div>
</form>