<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename="image/logo.svg")}}">
    <title>Anotações</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
</head>
<body>
    <div>
        <!-- Navbar -->
        <nav class="nav w-full text-[#faa] flex items-center">
            <a>
              Anotações
            </a>
          </nav>

          <div>
            <!-- formulario -->
            <div c-container="{{url_for('notas.formulario')}}"></div>
            <hr>
            <!-- postagens -->
            <div c-container="{{url_for('notas.postados')}}" ></div>
          </div>
      </div>

    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
</body>
</html>