<div>
    <div class="grid sm:grid-cols-1 md:grid-cols-3" id="blocosnota-{{blocosnota.id}}">
        <div>
            <div class="">
                <div class="">
                    <h5 class="text-white">{{blocosnota.title}}</h5>
                    <h6 class="text-white">{{blocosnota.time}}</h6>
                    <p class="text-white">{{blocosnota.text}}</p>
                    <button 
                        type="submit" 
                        class="btn btn-danger"
                        c-delete="{{url_for('notas.delete', blocosnota_id=blocosnota.id)}}"
                    >
                        <img src="{{url_for('static', filename="image/delete.svg")}}" alt="delete">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>