<div class="text-center row">
    <div id="blocosnota-{{blocosnota.id}}">
        <div class="col-12 col-md-6 col-lg-4 pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{blocosnota.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{blocosnota.title}}</h6>
                    <p class="card-text">{{blocosnota.text}}</p>
                    <button 
                        type="submit" 
                        class="btn btn-danger"
                        c-delete="{{url_for('notas.delete', blocosnota_id=blocosnota.id)}}"
                    >
                        <img src="{{url_for('static', filename="image/delete.svg")}}" alt="delete">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>